
.nav-bar-lenguage li, a {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    color: rgb(166, 166, 166);
}

.nav-bar-lenguage a:hover {
    color: rgb(255, 255, 255);
    border-bottom: #ffffff solid 2px;
}

.nav-bar-lenguage {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: rgb(48, 45, 45);
    font-size: small;
}

.nav-bar-lenguage ul {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    width: 20rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
}

#menu-espanol li, a {
    text-decoration: none;
    list-style-type: none;
}

.nav-bar {
    width: 100%;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.logo {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: transparent;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#menu-espanol {
    display: flex;
    gap: 4rem;
}

.nav-dropdown {
    width: auto;
    position: relative;
}

.text-destinos {
    font-weight: 600;
    font-size: large;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s ease;
    gap: .5rem;
    background-color: transparent;
}

#sub-menu {
    position: absolute;
    display: none;
    width: max-content;
    height: auto;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.2rem;
    gap: .8rem;
    border-radius: .2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#sub-menu span {
    color: black;
    transition: .2s ease;
    font-weight: 500;
}

#sub-menu span:hover {
    color: rgb(204, 8, 8);
}

.nav-dropdown:hover #sub-menu {
    display: flex;
    cursor: pointer;
}

.nav-dropdown:hover .text-destinos {
    color: rgb(187, 14, 14);
}