

.content-section-nav {
    width: 100%;
    height: max-content;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    padding: 2rem 0;
    position: relative;
}

.content-section-nav  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.content-section-nav  ul {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    display: flex;
    gap: 2rem;
}

.content-section-nav span {
    color: black;
    font-weight: 500;
    border-bottom: 0px solid black;
}

